<ol id="matches">
  <% @matches.each do |game| %>
    <li id="<%=game[0]%>"><%= link_to "Match #{game[0]}", match_path(game[0]) %> on <%= game[1].to_formatted_s(:long) %></li>
  <% end %>

</ol>


<h3><%= link_to("New Player", new_player_path)%></h3>
